Repository hoshomoh/react-native-document-scanner: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier, types

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: "*.{js,ts,jsx,tsx}"
      run: yarn lint:staged {staged_files}

    prettier:
      glob: "*.{js,ts,jsx,tsx,md}"
      run: yarn prettier:staged {staged_files}
      stage_fixed: true

    types:
      glob: "*.{js,ts,jsx,tsx}"
      run: yarn typecheck

commit-msg:
  commands:
    commitlint:
      run: npx --no-install commitlint --edit "{1}"

chore: reduce number of generic errors
  README.md
  ios/DocumentScannerManager.swift
  ios/Errors.swift
  ios/ImageProcessor.swift
  ios/ImageUtil.swift
  ios/LogMessages.swift
  ios/TextRecognizer.swift
Due: prettier

chore: added react image picker for testing picker option
  example/ios/DocumentScannerExample/PrivacyInfo.xcprivacy
  example/ios/Podfile.lock
  example/package.json
  example/src/App.tsx
  package.json
  yarn.lock
Due: eslint, prettier, types

feat: added android implementation
  android/build.gradle
  android/gradle.properties
  android/src/main/AndroidManifest.xml
  android/src/main/java/com/documentscanner/DocumentScannerModule.kt
  android/src/main/java/com/documentscanner/DocumentScannerPackage.kt
  android/src/main/java/com/documentscanner/ImageProcessor.kt
  android/src/main/java/com/documentscanner/Logger.kt
  android/src/main/java/com/documentscanner/Options.kt
  android/src/main/java/com/documentscanner/ScannerError.kt
  android/src/main/java/com/documentscanner/TextRecognizer.kt
  example/package.json
  package.json
Due: none

chore: added android folder to example app
  example/android/app/build.gradle
  example/android/app/debug.keystore
  example/android/app/proguard-rules.pro
  example/android/app/src/main/AndroidManifest.xml
  example/android/app/src/main/java/com/documentscannerexample/MainActivity.kt
  example/android/app/src/main/java/com/documentscannerexample/MainApplication.kt
  example/android/app/src/main/res/drawable/rn_edit_text_material.xml
  example/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
  example/android/app/src/main/res/mipmap-hdpi/ic_launcher_round.png
  example/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  example/android/app/src/main/res/mipmap-mdpi/ic_launcher_round.png
  example/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  example/android/app/src/main/res/mipmap-xhdpi/ic_launcher_round.png
  example/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  example/android/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
  example/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  example/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
  example/android/app/src/main/res/values/strings.xml
  example/android/app/src/main/res/values/styles.xml
  example/android/build.gradle
  example/android/gradle.properties
  example/android/gradle/wrapper/gradle-wrapper.jar
  example/android/gradle/wrapper/gradle-wrapper.properties
  example/android/gradlew
  example/android/gradlew.bat
  example/android/settings.gradle
  example/package.json
Due: none

chore: fixed build error
  android/build.gradle
  android/gradle.properties
  android/src/main/java/com/documentscanner/DocumentScannerModule.kt
  android/src/main/java/com/documentscanner/Options.kt
  android/src/main/java/com/documentscanner/TextRecognizer.kt
  package.json
Due: none

chore: added ocr config
  android/src/main/java/com/documentscanner/OCRConfiguration.kt
  android/src/main/java/com/documentscanner/TextRecognizer.kt
Due: none

chore: added confidence
  android/src/main/java/com/documentscanner/ImageProcessor.kt
  android/src/main/java/com/documentscanner/TextRecognizer.kt
  ios/ImageUtil.swift
  ios/ScanModels.swift
  ios/TextRecognizer.swift
  src/NativeDocumentScanner.ts
Due: eslint, prettier, types

chore: added ocr optimized
  android/src/main/java/com/documentscanner/ImageProcessor.kt
  example/src/App.tsx
  ios/ImageUtil.swift
  src/NativeDocumentScanner.ts
Due: eslint, prettier, types

chore: added docs
  android/src/main/java/com/documentscanner/ImageProcessor.kt
  android/src/main/java/com/documentscanner/Options.kt
Due: none

chore: fixed type
  README.md
  example/src/App.tsx
  package.json
  src/NativeDocumentScanner.ts
  src/index.ts
  src/index.tsx
Due: eslint, prettier, types

chore: instal
  example/ios/Podfile.lock
Due: none

chore: review
  example/android/build.gradle
  example/src/App.tsx
Due: eslint, prettier, types

chore: updated dependencies
  example/Makefile
  example/ios/DocumentScannerExample.xcodeproj/project.pbxproj
  example/ios/Podfile.lock
  package.json
  yarn.lock
Due: none

chore: updated text extraction logic to increase line-by-line structural correctness
  android/src/main/java/com/documentscanner/TextRecognizer.kt
  example/ios/DocumentScannerExample.xcodeproj/project.pbxproj
  ios/TextRecognizer.swift
Due: none

chore: added recognize text version with no heuristics
  android/src/main/java/com/documentscanner/DocumentScannerModule.kt
  android/src/main/java/com/documentscanner/DocumentScannerPackage.kt
  android/src/main/java/com/documentscanner/ImageProcessor.kt
  android/src/main/java/com/documentscanner/Logger.kt
  android/src/main/java/com/documentscanner/OCRConfiguration.kt
  android/src/main/java/com/documentscanner/Options.kt
  android/src/main/java/com/documentscanner/ScannerError.kt
  android/src/main/java/com/documentscanner/TextRecognizer.kt
  android/src/main/java/com/documentscanner/TextRecognizerV1.kt
  android/src/main/java/com/documentscanner/TextRecognizerV2.kt
  example/src/App.tsx
  ios/DocumentScannerManager.swift
  ios/Errors.swift
  ios/ImageProcessor.swift
  ios/OCRConfiguration.swift
  ios/Options.swift
  ios/ProcessOptions.swift
  ios/ScanModels.swift
  ios/ScanOptions.swift
  ios/TextRecognizer.swift
  ios/TextRecognizerV1.swift
  ios/TextRecognizerV2.swift
  src/NativeDocumentScanner.ts
Due: eslint, prettier, types

chore: updated readme
  README.md
  android/src/main/java/com/documentscanner/ImageProcessor.kt
  ios/DocumentScannerManager.swift
  release-please-config.json
Due: prettier

fix: fixed issue with CI not auto releasing after release PR is merged
  .github/workflows/ci.yml
Due: none

feat: added support for RecognizeDocumentsRequest on IOS 26
  .eslintignore
  CHANGELOG.md
  CLAUDE.md
  README.md
  android/src/main/java/com/documentscanner/ImageProcessor.kt
  android/src/main/java/com/documentscanner/OCRConfiguration.kt
  android/src/main/java/com/documentscanner/Options.kt
  android/src/main/java/com/documentscanner/TextRecognizerV1.kt
  android/src/main/java/com/documentscanner/TextRecognizerV2.kt
  eslint.config.mjs
  example/ios/DocumentScannerExample.xcodeproj/project.pbxproj
  example/ios/Podfile.lock
  example/src/App.tsx
  ios/DocumentScanner.mm
  ios/DocumentScannerManager.swift
  ios/ImageProcessor.swift
  ios/ImageUtil.swift
  ios/OCRConfiguration.swift
  ios/Options.swift
  ios/ResponseUtil.swift
  ios/ScanModels.swift
  ios/TextRecognizer.swift
  ios/TextRecognizerV2.swift
  package.json
  src/NativeDocumentScanner.ts
  src/__fixtures__/android-v1-mlkit-ocr-optimized-german-playground-receipt.json
  src/__fixtures__/android-v1-mlkit-ocr-optimized-walmart-receipt.json
  src/__fixtures__/android-v2-mlkit-ocr-optimized-german-playground-receipt.json
  src/__fixtures__/android-v2-mlkit-ocr-optimized-walmart-receipt.json
  src/__fixtures__/ios-v1-vnrecognize-ocr-optimized-german-playground-receipt.json
  src/__fixtures__/ios-v1-vnrecognize-ocr-optimized-primark-receipt.json
  src/__fixtures__/ios-v2-recognizedocuments-ocr-optimized-primark-receipt.json
  src/__fixtures__/ios-v2-vnrecognize-ocr-optimized-german-playground-receipt.json
  src/__fixtures__/template.json
  src/__tests__/__snapshots__/receiptReconstructor.test.ts.snap
  src/__tests__/receiptReconstructor.test.ts
  src/index.ts
  src/receiptReconstructor.ts
Due: eslint, prettier, types

chore: rename reconstructReceipt to reconstructText
  README.md
  src/NativeDocumentScanner.ts
  src/__fixtures__/template.json
  src/__tests__/__snapshots__/textReconstructor.test.ts.snap
  src/__tests__/textReconstructor.test.ts
  src/index.ts
  src/textReconstructor.ts
Due: eslint, prettier, types

fix: fixed issue with NPM TOKEN causing push failure
  .github/workflows/ci.yml
Due: none

chore: switch to OIDC for npm publishing
  .github/workflows/ci.yml
Due: none

feat!: replace string literal unions with enums for RN 0.84 codegen compatibility
  CHANGELOG.md
  README.md
  example/ios/DocumentScannerExample.xcodeproj/project.pbxproj
  example/ios/Podfile.lock
  example/package.json
  example/src/App.tsx
  package.json
  src/NativeDocumentScanner.ts
  src/index.ts
  yarn.lock
Due: eslint, prettier, types
